* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    background-color: #6D5943;    
  }
  h1 {
    font-size:xx-large;
    font-weight: bold;
    background-color: #6d594377;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
  }
  /*Style do parágrafo 'Juntos podemos fazer a diferença' */
  span {
    font-size:xx-large;
    font-weight: bold;
    background-color: #6d594377;
    /* padding: 5px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;    
  }
  /*Style do bottom 'DENUNCIE'*/
  button {
    margin: auto;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
  }
 button:hover{
  background-color: #6d594377;  
  
   }


  /* Início do style do parallax da página principal */
  .parallax {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }  
  .parallax-content {
    text-align: center;
    color: #fff;    
  }
  
  /*Início do style do formulário */  
  form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);            
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="phoneNumber"],
  textarea {
    width: 96%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
  }  
  input[type="submit"]:hover {
    background-color: #8C8C8C;
  } 
  /* início do Style da barra de menu da página principal */  
  nav {
    margin: auto;
    background-color:#6D5943;
    padding: 5px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
    overflow-x: hidden;    
  } 
  nav.active {
    /* width: 350px; */
    position: fixed;
    top: 0;
    width: 100%;
  }  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
  }
  
  nav.active ul {
    width: 100%;
  }
  
  nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
  }
  
  nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
  }
  
  nav ul a {
    position: relative;
    color:white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
  }
   
  .icon {
    background-color: #6D5943;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
  }
  
  .icon:focus {
    outline: 0;
  }
  
  .icon .line {
    background-color:white;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
  }
  
  .icon .line2 {
    top: auto;
    bottom: 10px;
  }
  
  nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
  }
  
  nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
  }
/*Início Style do footer */
 footer p {
  margin: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
 }
 footer a{
  color: blue;
 }

/* Início do stylesCss da cartilha */

 /*Style da barra de menu */
 .cartilha nav{
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 } 
/*Início Style do parallax início da cartilha*/
 .cart_parallax{
  background-image: url(img/cart_backgound.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Style das sections */
 .section{
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  background-color: #19120a93;
  padding:25px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-align: center;
 }
 .section h2 {
  color: white;
  text-align: center;
  background-color:#FFCE2C;
  color:black;
  border-radius: 5px 5px 5px 5px;
 }
 .section p{
  text-indent: 15px;
  text-align: justify;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  padding: 4px;
 }
 #atencion{
  display: block;
  margin: auto;
  margin-top: 20px;
  max-width: 950px;
  background-color: #6D5943;
  padding: 15px;
  border-radius: 20px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 }
 #atencion span{
  color:#FFCE2C;
  padding: 5px 20px 5px 20px;
  
 }
 /*Início Style do parallax assédio moral */
 .assediomoral_parallax{
  background-image: url(img/assediomoral.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moral_parallax-content{
  color: white;
  text-align: center;
}

 /*Style dos 'ins' dos  parágrafos */
 .ins{
  color: #F2A172;
 }
 
/*Style das imagens */
 .image-container {
  display: inline-block;   
}
.image-container ins {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}
.image-container + .image-container {
  margin-left: 5px;
    
}
/* .image-container{
  margin-right: 10px;
} */

img {
  max-width: 100%;
  height: auto;  
}

.image-text {
  margin-top: 0px;
  margin-bottom: 0px;
  max-height: 250px;
}
.image-container p{
  text-align: justify;
  width: 430px;
  height: 430px;
}
